<!DOCTYPE html>
<html lang="en">
<head>
    <title>BotMan Widget</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/npm/botman-web-widget@0/build/assets/css/chat.min.css">
    <style>
        #botmanWidgetRoot > div{
            min-height: 100px !important;
            min-width: 100px !important;
            bottom: 50px !important;
        }
    </style>
</head>
<body>
<script id="botmanWidget" src='https://cdn.jsdelivr.net/npm/botman-web-widget@0/build/js/chat.js'></script>
</body>
</html>