<!DOCTYPE HTML>

<html>
<head>
    <style type="text/css">
        .bodyBody {
            margin: 10px;
            font-size: 1.50em;
        }
        .divHeader {
            text-align: right;
            border: 1px solid;
        }
        .divReturnAddress {
            text-align: left;
            float: right;
        }
        .divSubject {
            clear: both;
            font-weight: bold;
            padding-top: 80px;
        }
        .divAdios {
            float: right;
            padding-top: 50px;
        }
    </style>
</head>
<body class="bodyBody">
<div class="divReturnAddress">
    Lopes de Almeido, Evanildo<br/>
    Bl&auml;siring 161 <br/>
    4057 Basel <br/>
    <br/>
    01 Dezember, 2012
</div>

<div class="divSubject">
    Betreff:  Vertretung waehrend Reise
</div>

<div class="divContents">
    <p>
        Sehr geehrte Frau Graf,
    </p>

    <p>
        Ich fliege nach Brasilien am 29. Dezember 2012 f&uuml;r 6 Wochen.
        Meine Nichte kann mich vertreten.  Sie arbeitet sehr gesissenhaft.
        Sie heisst Yasmin.  Ihre Nummer ist xxx.
    </p>
</div>

<div class="divAdios">
    Freundliche Gr&uuml;sse <br/>
    <!-- Space for signature. -->
    <br/>
    <br/>
    <br/>
    Evanildo Lopes do Almeida <br/>
    Hauswart Binningerstrasse 19/23 <br/>
</div>
</body>
</html>