{% if grouptype | lower == constant('App\\Enum\\GroupType::STUDENT') %}
  {% set feather_icon = 'user' %}
{% elseif grouptype | lower == constant('App\\Enum\\GroupType::SITE_STAFF') %}
  {% set feather_icon = 'database' %}
{% elseif grouptype | lower == constant('App\\Enum\\GroupType::FACULTY_STAFF') %}
  {% set feather_icon = 'sliders' %}
{% elseif grouptype | lower == constant('App\\Enum\\GroupType::TEACHERS') %}
  {% set feather_icon = 'briefcase' %}
{% else %}
  {% set feather_icon = 'circle' %}
{% endif %}

<span class="d-flex text-truncate align-middle align-items-center">
  <i data-feather='{{ feather_icon }}' style="margin-right: 0.1rem;"></i>
  {% if displayname is defined %}
  <span class="fw-bold" style="font-size: 12px">{{ displayname|upper }}</span>
  {% endif %}
</span>
