{% extends 'views/layouts/contentLayoutMaster.html.twig' %}

{% block title %} Add Post Category {% endblock %}
{% block content %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

{% endblock %}