{% extends 'views/layouts/contentLayoutMaster.html.twig' %}

{% block title %} Layout Empty {% endblock %}

{% block content %}
<div class="row">
  <div class="col-12">
    <div class="alert alert-primary" role="alert">
      <div class="alert-body">
        <strong>Info:</strong> This layout can be useful for getting started with empty content section. Please check
        the&nbsp;<a
          class="text-primary"
          href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/documentation/documentation-layout-empty.html"
          target="_blank"
          >Layout empty documentation</a
        >&nbsp; for more details.
      </div>
    </div>
  </div>
</div>
{% endblock %}

