{% extends 'views/layouts/contentLayoutMaster.html.twig' %}

{% block title %} Layout Blank {% endblock %}

{% block content %}
<div class="row">
  <div class="col-12 p-4">
    <h4 class="mb-2">Layout Blank</h4>
    <div class="alert alert-primary" role="alert">
      <div class="alert-body">
        <strong>Info:</strong> This layout is used in Authentication & Miscellaneous page. Please check the&nbsp;<a
          class="text-primary"
          href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/documentation/documentation-layout-blank.html"
          target="_blank"
          >Layout blank documentation</a
        >&nbsp; for more details.
      </div>
    </div>
  </div>
</div>
{% endblock %}

